@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
h1 {
    color: whitesmoke;
}
.carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.carouselCards {
    display: flex;
    flex-direction: row;
    font-family: "Oswald", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    padding: 20px;
}

.carouselCards:hover {
    overflow: auto;
}

/* Custom scrollbar for WebKit-based browsers */
.carouselCards::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.carouselCards::-webkit-scrollbar-track {
    background: #020202;
}

.carouselCards::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.carouselCards::-webkit-scrollbar-thumb:hover {
    background: #555;
}