@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;

}

.carouselNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.carouselNav:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all ease-in-out 0.5s;
}

.btnNav {
    background-color: rgba(81, 81, 84, 0.4);
    color: rgba(134, 134, 139, 0.9);
    font-weight: 600;
    font-size: 25px;
    outline: none;
    border: none;
    transition: all ease-in-out 0.5s;
    border-radius: 50%;
    opacity: 0.2;
}

.btnNav:hover {
    background-color: rgba(210, 210, 215, 0.7);
    cursor: pointer;
    opacity: 1;
}

.carouselCards {
    display: flex;
    flex-direction: row;
    font-family: "Oswald", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    padding: 20px;
    gap: 20px;
}

.carouselCards:hover {
    overflow: auto;
}
