.viewAllBtn {
  background-color: black;
  color: white;
  width: 120px;
  height: 50px;
}
.viewAllBtn:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.viewAllBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}
