.viewAllBtn {
  background-color: mediumspringgreen;
  color: black;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.viewAllBtn:hover{
  background-color: #0fc37d;
  color: black;
  cursor: pointer;
}

.viewAllBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}
